body {
  background-image: url("../images/back.jpg");
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 55px;
	letter-spacing: -1.4px;
	word-spacing: 0.6px;
	color: #000000;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	letter-spacing: -1.4px;
	word-spacing: 0.6px;
	color: #000000;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

#anterior {
	width: 25% ; 
	float: left;
}

#titulos {
	width: 50% ; 
	float: left;
}

#posterior {
	width: 25% ; 
	float: left;
	align: right ;
}

